<!--Header-->
<div class="page-header">
  <div class="container">
    <h1>View-Student</h1>
  </div>
</div>

<div class="container">
  <!--Go Back Button-->
<div class="row top-row">
<div class="col-xs-12 row end-xs"> <!-- row end-xs : To make it go to gight corner-->
<a routerLink="/students" color="primary" mat-raised-button>
  <mat-icon>chevron_left</mat-icon>Go Back
</a>
</div>
</div>

<!--form-->
<div class="row">
  <div class="col-xs-6">
    <!--Student Details-->
     <form #studentDetailsForm="ngForm">
       <div class="row">
         <div class="col-xs-6">
            <mat-form-field appearance="standard">
               <mat-label>First Name </mat-label>
               <input type="text" matInput [(ngModel)]="student.firstName" name="firstName"> <!--2 way binding from the .ts file of view-student-->
            </mat-form-field>
         </div>
         <div class="col-xs-6">
          <mat-form-field appearance="fill">
             <mat-label>Last Name </mat-label>
             <input type="text" matInput [(ngModel)]="student.lastName" name="lastName">
          </mat-form-field>
       </div>

       </div>
       <div class="row">
         <div class="col xs-12">
          <mat-form-field appearance="outline">
            <mat-label>Date Of Birth</mat-label>
            <!--After the ma tinput we will have a property DatePicker, "picker" is the property here-->
            <input matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dateOfBirth">
            <!--attribute of matSuffix for picker-->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <!--creating the picker element-->
            <mat-date-range-picker #picker></mat-date-range-picker>
         </mat-form-field>
         </div>
       </div>
       <!--row -->
       <div class="row">
         <!--email -->
         <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput [(ngModel)]="student.email" name="email">
         </mat-form-field>
         </div>
         <!--mobile -->
         <div class="col-xs-6">
         <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input type="number" matInput [(ngModel)]="student.mobile" name="mobile">
         </mat-form-field>
        </div>
         </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <input type="text" matInput [(ngModel)]="student.gender.description" name="gender">
           </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <textarea matInput [(ngModel)]="student.address.physicalAddress" name="postalAddress"></textarea>
           </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Postal Address</mat-label>
              <textarea matInput [(ngModel)]="student.address.postalAddress" name="postalAddress"></textarea>
           </mat-form-field>
          </div>
        </div>


     </form>
  </div>

</div>
</div>


